<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda</title>
  </head>
  <body>
    <h1>Agenda de Contatos</h1>
    <form action="/create" method="POST">
      <input name="name" type="text" placeholder="Nome" />
      <input name="email" type="email" placeholder="E-mail" />
      <input name="phone" type="text" placeholder="Telefone" />
      <button>Adicionar</button>
    </form>
    <ul>
      {% for name in names %}
        <li>
            <form action="/update/{{ name[0] }}" method="post">
                <input name="name" value="{{ name[1]  }}" />
                <input name="email" value="{{ name[2] }}"/>
                <input name="phone" value="{{ name[3] }}"/>
                <button type="submit">Editar</button>
                <a href="/delete/{{ name[0] }}">❌</a>
            </form>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
